//font colors
$text-light-color: #FFF;
$text-dark-color: #000;
$text-blue-color: #2f80ed;
$shadow-color-item: rgb(47 55 237 / 10%);
$shadow-color-direction: rgb(47 128 237 / 5%);


//button colors
$button-color: #64e2cd;
$button-border_color: rgb(100 226 205 / 50%);


//background color
$background-color: rgb(47 128 237 / 10%);


//content-width
$laptop-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 320px
