//font colors
$text-light-color: #FFF;
$text-dark-color: #000;
$text-grey-color: #636363;
$text-blue-color: #2f80ed;
$text-placeholder-color: #C6C6C6;
$shadow-color-item: rgb(47 55 237 / 10%);
$shadow-color-direction: rgb(47 128 237 / 5%);


//button colors
$button-color: #64e2cd;
$button-green-color: #52D1BC;
$button-border_color: rgb(100 226 205 / 50%);


//background color
$background-light-color: rgb(47 128 237 / 10%);
$background-dark-color: #2f80ed;
$background-white-color: #fff;
$background-light-footer-color: #E5E5E5;
$background-dark-footer-color: #185FBF;


//content-width
$laptop-width: 1440px;
$tablet-width: 768px;
$mobile-big-width: 320px
