.author_profile {
  background-color: $background-white-color;
}

.author_profile-wrapper{
  max-width: 1168px;
  margin: 0 auto;
  position: relative;
  padding-top: 58px;
}

.author_profile-personal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 100px 0;
}

.author_profile__player {
border-radius: 10px;

}

.author_profile__play {
  position: absolute;
  top: 320px;
  left: 330px;
  width: 75px;
  height: 75px;
}


.author_profile__group {
  display: grid;
  grid-auto-rows: 161px;
  grid-template-columns: 247px 247px 247px 247px;
  column-gap: 74px;
}

.author-img {
  padding-bottom: 28px;
}

.author_profile__title {
  @extend %font-prim;
  @include font($size: 3.5rem, $height: 5.5rem, $weight: 700);
  color: $text-dark-color;
}

.author_profile__group-item-title {
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 143.55%, $weight: 600);
  color: $text-blue-color;
  letter-spacing: 0.05em;
  padding-bottom: 13px;
}

.author_profile__group-item-content{
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 143.55%, $weight: 400);
  color: $text-grey-color;
}


.author_profile-note {
  @include square-item($weight: 351px, $height: 212px, $border_radius: 10px, $box-shadow: 0px 30px 100px rgba(47, 55, 237, 0.1));
  text-align: center;
  padding-top: 66px;
}

.author_profile-note-title {
  @extend %font-prim;
  @include font($size: 2.4rem, $height: 4.4rem, $weight: 700);
  color: $text-blue-color;
}

.author_profile-note_content{
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 143.55%, $weight: 400);
  color: $text-grey-color;
}
