.header {
  max-width: $laptop-width;
  margin: 0 auto;
  background-color: $background-light-color;
  background-image: url("./assets/header.jpeg");
  background-repeat: no-repeat;
}

.header__navbar {
  max-width: 1176px;
  margin: 0 auto 108px;
  padding-top: 32px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__cities_list ul {
  display: flex;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  list-style: none;
}

.navbar__menu_list ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__cities_list li {
  padding-right: 25px;
}

.navbar__menu_list li {
  padding-left: 41px;
}

.navbar__menu_list li:last-child {
  padding-left: 66px;
}

.header__content-title {
  margin-bottom: 35px;
}

.header__content-period {
  @extend %font-prim;
  @include font($size: 1.6rem, $height: 124.41%);
  margin-bottom: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header__content-place {
  @extend %font-prim;
  @include font($size: 1.8rem, $height: 124.41%);
  margin-bottom: 29px;
}

.header__event {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__content {
  width: 50%;
}


.btn_container {
  position: absolute;
  top: 520px;
  left: 320px;
}

.btn_round_inside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  @extend %font-prim;
  @include font($size: 1.4rem, $height: 153.12%);
  color: $text-blue-color;
}

.bold_text {
  @extend %font-prim;
  @include font($size: 3.4rem, $height: 153.12%, $weight: 700);
  color: $text-blue-color;
}

.little_font {
  @extend %font-prim;
  @include font($size: 1.4rem, $height: 143.55%, $weight: 700);
  color: $text-blue-color;
}

.smallest_font {
  padding-top: 20px;
  @extend %font-prim;
  @include font($size: 1.0rem, $height: 1 rem, $weight: 400);
  color: $text-blue-color;
}
